In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [51]:
df = pd.read_csv("Admission_Prediction.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

Filling the Missing values:

In [52]:
df["GRE Score"].fillna(df['GRE Score'].mean(),inplace=True)
df["TOEFL Score"].fillna(df["TOEFL Score"].mean(),inplace=True)
df["University Rating"].fillna(df["University Rating"].median(),inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    float64
 2   TOEFL Score        500 non-null    float64
 3   University Rating  500 non-null    float64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 35.3 KB

In [53]:
x = df.drop(["Serial No.","Chance of Admit"],axis=1)
y = df["Chance of Admit"]

In [54]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [55]:
lin_reg = LinearRegression()
lin_reg.fit(x_train,y_train)

LinearRegression()

In [56]:
y_pred = lin_reg.predict(x_test)

Evaluating the model:

In [57]:
r2 = lin_reg.score(x_test, y_test)
print('R Squared value:',r2*100)

mse = metrics.mean_squared_error(y_test, y_pred)
print('Mean Squared Error:',mse)

rmse = np.sqrt(mse)
print('Root Mean Squared Error:',rmse)

mae = metrics.mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:',mae)

R Squared value: 82.09327931998452
Mean Squared Error: 0.003661924379063167
Root Mean Squared Error: 0.0605138362613309
Mean Absolute Error: 0.04240473667387512